body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 290px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left span {
    margin-right: 20px;
    font-size: 16px;
}

.year, .filiere {
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.icons {
    position: relative;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.icon-notification {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    cursor: pointer;
}